html, body {
    background-color: black;
    color: green;
    font-family: "Reddit Mono", monospace;
}

.update {
    color: red;
}

.copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-align: center;
}

.container {
    padding-top: 200px;
    text-align: center;
}

.left-container {
    width: 50%;
    margin: auto;
}

pre {
    color: grey;
}

.logo {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3,
    -20px 20px #26c6da,
    -24px 24px #43a047,
    -28px 28px #eeff41,
    -32px 32px #f9a825,
    -36px 36px #ff5722;
}